@charset "utf-8"; /* CSS Document */
/* Icons
   ========================================================================== */
.ico {
    display: inline-block;
    _overflow: hidden;
    background-image: url(../images/sprite.png);
    _background-image: url(../images/sprite.gif);
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* name rule:icon(i)-coordinate(x/y) */
.i000 {
    background-position: 0 0;
}

.i100 {
    background-position: -40px 0;
}

.i200 {
    background-position: -80px 0;
}

.i300 {
    background-position: -120px 0;
}

.i400 {
    background-position: -160px 0;
}

.i001 {
    background-position: 0 -40px;
}

.i101 {
    background-position: -40px -40px;
}

.i201 {
    background-position: -80px -40px;
}

.i301 {
    background-position: -120px -40px;
}

.i401 {
    background-position: -160px -40px;
}

.i002 {
    background-position: 0 -80px;
}

.i102 {
    background-position: -40px -80px;
}

.i202 {
    background-position: -80px -80px;
}

.i302 {
    background-position: -120px -80px;
}

.i402 {
    background-position: -160px -80px;
}

.i003 {
    background-position: 0 -120px;
}

.i103 {
    background-position: -40px -120px;
}

.i203 {
    background-position: -80px -120px;
}

.i303 {
    background-position: -120px -120px;
}

.i403 {
    background-position: -160px -120px;
}

.i004 {
    background-position: 0 -160px;
}

.i104 {
    background-position: -40px -160px;
}

.i204 {
    background-position: -80px -160px;
}

.i304 {
    background-position: -120px -160px;
}

.i404 {
    background-position: -160px -160px;
}

.i005 {
    background-position: 0 -200px;
}

.i105 {
    background-position: -40px -200px;
}

.i205 {
    background-position: -80px -200px;
}

.i305 {
    background-position: -120px -200px;
}

.i405 {
    background-position: -160px -200px;
}

.i006 {
    background-position: 0 -240px;
}

.i106 {
    background-position: -40px -240px;
}

.i206 {
    background-position: -80px -240px;
}

.i306 {
    background-position: -120px -240px;
}

.i406 {
    background-position: -160px -240px;
}

.i007 {
    background-position: 0 -280px;
}

.i107 {
    background-position: -40px -280px;
}

.i207 {
    background-position: -80px -280px;
}

.i307 {
    background-position: -120px -280px;
}

.i407 {
    background-position: -160px -280px;
}

.i008 {
    background-position: 0 -320px;
}

.i108 {
    background-position: -40px -320px;
}

.i208 {
    background-position: -80px -320px;
}

.i308 {
    background-position: -120px -320px;
}

.i408 {
    background-position: -160px -320px;
}

.i009 {
    background-position: 0 -360px;
}

.i109 {
    background-position: -40px -360px;
}

.i209 {
    background-position: -80px -360px;
}

.i309 {
    background-position: -120px -360px;
}

.i409 {
    background-position: -160px -360px;
}

.i010 {
    background-position: 0 -400px;
}

.i110 {
    background-position: -40px -400px;
}

.i210 {
    background-position: -80px -400px;
}

.i310 {
    background-position: -120px -400px;
}

.i410 {
    background-position: -160px -400px;
}

.i011 {
    background-position: 0 -440px;
}

.i111 {
    background-position: -40px -440px;
}

.i211 {
    background-position: -80px -440px;
}

.i311 {
    background-position: -120px -440px;
}

.i411 {
    background-position: -160px -440px;
}

.i012 {
    background-position: 0 -480px;
}

.i112 {
    background-position: -40px -480px;
}

.i212 {
    background-position: -80px -480px;
}

.i312 {
    background-position: -120px -480px;
}

.i412 {
    background-position: -160px -480px;
}

.i013 {
    background-position: 0 -520px;
}

.i113 {
    background-position: -40px -520px;
}

.i213 {
    background-position: -80px -520px;
}

.i313 {
    background-position: -120px -520px;
}

.i413 {
    background-position: -160px -520px;
}

.i014 {
    background-position: 0 -560px;
}

.i114 {
    background-position: -40px -560px;
}

.i314 {
    background-position: -120px -560px;
}

.i414 {
    background-position: -160px -560px;
}

/* Component
   ========================================================================== */
/**
 * color
 */
.com_color {
    color: #079ce3;
}

.red {
    color: #eb1f1f;
}

.green {
    color: #2fb266;
}

/**
 * btn
 */
.btn_default{
	width: 228px;
    height: 46px;
    border: 2px solid #EBCB80;
    border-radius: 50px;
    color: #ECCB80;
    display: inline-block;
    text-align: center;
    line-height: 42px;
	
 }
.btn_default:hover{
	color: #4A4A4A;
 	background: #EBCB80;
	box-shadow: 0 6px 18px 0 rgba(0,0,0,0.20);
 }
.btn_blue {
    background: #079ce3;
    border-bottom: 1px #068dcd solid;
}

.btn_blue:hover {
    background: #1eb0f5;
}

.btn_green {
    background: #2fb266;
    border-bottom: 1px #2aa15c solid;
}

.btn_green:hover {
    background: #38c573;
}

.submit {
    display: inline-block;
    line-height: 40px;
    padding: 0 40px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

/**
 * link
 */
.link1 {
    font-size: 14px;
    color: #079ec3;
}

.link1:hover {
    text-decoration: underline;
}

.link2 {
    font-size: 12px;
    color: #666;
}

.link2:hover {
    color: #078ec3;
}

/**
 * box
 */
.box {
    border: 1px #e0e0e0 solid;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.08);
    box-shadow: 0 0 10px rgba(0,0,0,.08);
}

.box_link:hover {
    border-color: #ccc;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

/**
 * title
 */
.mod_tit {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #444;
}

.mod_tit i {
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.con_tit {
    padding: 20px 0;
    line-height: 36px;
    font-size: 18px;
    color: #000;
}

.con_tit_ico {
    display: inline-block;
    width: 4px;
    height: 18px;
    margin-right: 26px;
    background: #079ce3;
    vertical-align: middle;
}

.mid_tit, .page_tit {
    padding-top: 10px;
    line-height: 50px;
    border-bottom: 2px #ddd solid;
    font-weight: bold;
    font-size: 16px;
    color: #666;
}

.mid_tit {
    text-align: center;
}

.page_tit i {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

/**
 * placeholder
 */
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #afafaf;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #afafaf;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #afafaf;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #afafaf;
}

/**
 * pagination
 */
.pagin {
    display: block;
}

.pagin-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px #ddd solid;
    background: #fff;
    line-height: 18px;
    font-size: 12px;
    color: #079ce3;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pagin-link i {
    font-size: 10px;
}

.pagin-link:hover {
    border-color: #6eb0e4;
    box-shadow: 0 0 3px #eee;
}

.pagin-cur, .pagin-cur:hover {
    border-color: #079ce3;
    background: #079ce3;
    color: #fff;
}

.pagin-disable {
    color: #afafaf;
    cursor: default;
}

.pagin-disable:hover {
    border-color: #ddd;
    background: #fff;
}

.pagin-ell {
    line-height: 18px;
    font-size: 14px;
    color: #079ce3;
}

.pagin-txt {
    display: inline-block;
    padding: 5px 8px;
    line-height: 18px;
    font-size: 12px;
    color: #666;
}

.pagin-jump, .pagin-jump-focus {
    display: inline-block;
    *vertical-align: -5px;
    border: 1px #ddd solid;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pagin-input {
    *float: left;
    width: 40px;
    height: 26px;
    border: none;
    outline: none;
    background: #fff;
    line-height: 26px\9;
    *line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #079ce3;
}

.pagin-btn {
    *float: left;
    display: none;
    padding: 0 10px;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.pagin-jump-focus {
    border-color: #079ce3;
    background: #079ce3;
    *vertical-align: -1px;
}

.pagin-jump-focus .pagin-btn {
    display: inline-block;
}

/**
 * form
 */
/* 文本框：设置了除  宽度、文本对齐方式、外边距  以外的属性 */
.exam_input {
    height: 34px;
    border: 1px #e0e0e0 solid;
    border-radius: 4px;
    line-height: 34px\9;
    *line-height: 34px;
    background: #fbfbfb;
    font-size: 14px;
}

.exam_input:focus {
    border-color: #65a9e8;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

/* 文本框：placeholder */
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #afafaf;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #afafaf;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #afafaf;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #afafaf;
}

input::-ms-clear {
    display: none;
}

/* 单选/多选按钮 */
.exam_check, .exam_radio {
    position: relative;
    *height: 20px;
    padding: 5px 0 5px 25px;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}

.exam_check input,/* 将原始选项按钮隐藏 */
.exam_radio input {
    position: absolute;
    left: -99999px;
}

.exam_radiobtn,/* 默认未选中，时选项按钮样式 */
.exam_checkbtn {
    position: absolute;
    top: 7px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../images/form.png) no-repeat;
}

.exam_radiobtn {
    background-position: 0 0;
}

.exam_checkbtn {
    background-position: -20px 0;
}

.exam_radio:hover .exam_radiobtn {
    background-position: 0 -20px;
}

/* 鼠标滑过时，选项按钮样式 */
.exam_check:hover .exam_checkbtn {
    background-position: -20px -20px;
}

label.r_on .exam_radiobtn,/* 选中时，选项按钮样式 */
label.r_on:hover .exam_radiobtn {
    background-position: 0 -40px;
}

label.c_on .exam_checkbtn, label.c_on:hover .exam_checkbtn {
    background-position: -20px -40px;
}

.exam_disabled {
    opacity: .5;
    cursor: default;
}

.exam_disabled:hover .exam_radiobtn {
    background-position: 0 0;
}

.exam_disabled:hover .exam_checkbtn {
    background-position: -20px 0;
}

/* 文本区域：使用百度编辑器，这里只给出了外框的样式 */
.exam_textarea_box {
    min-height: 140px;
    border: 1px #e0e0e0 solid;
    border-radius: 4px;
    background: #fbfbfb;
    line-height: 20px;
    color: #666;
}

/**
 * Drop-down menu
 */
.myselect {
    display: inline-block;
    width: 12%;
}

.myselect_box {
    display: block;
    width: 100%;
    height: 24px;
    border: 1px #ccc solid;
    border-radius: 4px;
    background: #fff;
}

.myselect select {
    width: 100%;
    font-size: 14px;
    color: #666;
    background: none;
    border-color: #ddd;
    border-radius: 3px;
}

.myselect option {
    color: #666;
    background: #fff;
}

.myselect select:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -moz-box-shadow: 0 0 0px 1000px white inset;
    background: #fff;
}

/* ghostTabs */
.ghostTab-head {
    height: 50px;
    border-bottom: 2px #e0e0e0 solid;
}

.ghostTab-tab {
    float: left;
}

.ghostTab-tab a {
    position: relative;
    display: block;
    padding: 15px 0;
    margin-right: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.ghostTab-tab a span {
    display: block;
    padding: 0 20px;
    border-right: 1px #e0e0e0 solid;
}

.ghostTab-tab .ghostTab-cur {
    border-bottom: 2px #079ed3 solid;
    color: #079ed3;
}

.ghostTab-con {
    position: relative;
    display: none;
    left: -10px;
    right: -10px;
    width: 1220px;
}

/**
 * pop
 */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/alpha/darkgray2.png);
    z-index: 100000;
}

.pop {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 380px;
    margin-left: -190px;
}

.pop_in {
    position: relative;
    padding: 30px 0;
    text-align: center;
    border-radius: 7px;
    background: #fff;
}

.pop_shut {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
}

.pop_hintico {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url(../images/hintico.png) 0 0 no-repeat;
}

.pop_tit {
    padding: 20px;
    font-size: 20px;
    color: #000;
}

.pop2 {
    top: 25%;
    width: 620px;
    margin-left: -310px;
}

.pop2 .pop_tit {
    padding: 10px 0 0 0;
    line-height: 50px;
    border-bottom: 1px #eee solid;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.pop2 .pop_in {
    padding: 0 20px 20px 20px;
}

.pop_txt {
    padding-bottom: 20px;
}

.pop_txt p {
    text-align: left;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

/* Layout
   ========================================================================== */
.webWidth1 {
    width: 1200px;
    margin: 0 auto;
}

.webWidth2 {
    width: 1220px;
    margin: 0 auto;
}

.webWidth3 {
    width: 1000px;
    margin: 0 auto;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.page {
    padding-top: 60px;
}

/**
 * head
 */
.head {
    padding: 0 40px;
    height: 60px;
    background: #353535;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    float: left;
    height: 40px;
    line-height: 40px;
    background: url(../images/logo.png) no-repeat;
    font-size: 26px;
    padding-left: 58px;
    margin-top: 10px;
    letter-spacing: 2.6;
    color: #fff;
}

.head_right {
    float: right;
    line-height: 60px;
    margin-top: 13px;
}
.head_right li{
    margin-left: 16px;
    border-radius: 50px;
    line-height: 34px;
}

.head_right a{
    line-height: 22px;
    letter-spacing: 0.78px;
    padding: 5px 43px;
    border-radius: 50px;
    border: 1px solid #EBCB80;
    opacity: 1;
    min-width: 147.11px;
    display: inline-block;
    text-align: center;
}
.head_right .join_us a{
	color: #1F2532 !important;
    background: #ECCB80;
    display: none;
}
.head_right .login a{
	color: #EBCB80 !important;
}
/* search */
.search {
    position: relative;
    padding-right: 80px;
}

.search_left {
    position: relative;
    height: 34px;
    padding: 0 20px 0 47px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px #F89560 solid;
    border-right: none;
    background: #fff;
}

.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 34px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 34px;
    background: linear-gradient(-42deg, #F76B1C 0%, #F89560 100%);
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.search_ico {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 36px;
    height: 17px;
    border-right: 1px #eee solid;
    text-align: center;
    line-height: 16px;
}

.search_ico i {
    width: 16px;
    height: 16px;
}

.search_input {
    width: 250px;
    height: 30px;
    height/*\**/: 26px \9;
    line-height: 26px\9;
    color: #666;
}

/* quick */
.quick_link {
    display: inline-block;
    margin-right: 25px;
    line-height: 28px;
    font-size: 12px;
    color: #888;
}

.quick_link:hover {
    color: #079ce3;
}

/* cart */
.cart {
    float: left;
    display: inline-block;
    width: 120px;
    height: 32px;
    border: 1px #ddd solid;
    border-radius: 3px;
    background: #f7f7f7;
    text-align: center;
    line-height: 32px;
}

.cart:hover {
    border-color: #ccc;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
}

.cart_ico {
    vertical-align: 1px;
    margin-right: 4px;
}

.cart_ico i {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cart_txt {
    font-size: 12px;
    color: #666;
}

.cart_num {
    display: inline-block;
    min-width: 14px;
    line-height: 14px;
    border-radius: 7px;
    background: #eb1f1f;
    font-size: 10px;
    color: #fff;
    vertical-align: 5px;
}

/* record */
.record {
    float: left;
    margin-right: 20px;
    line-height: 32px;
    font-size: 12px;
    color: #666;
}

.record:hover {
    color: #079ce3;
}

/**
 * nav
 */
.nav {
    background: #333;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.25);
    -o-box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.navIn {
    border-left: 1px #484848 solid;
}

.nav_li {
    position: relative;
    float: left;
    border-right: 1px #484848 solid;
    z-index: 100;
}

.nav_link {
    display: block;
    padding: 0 40px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}

.nav_link:hover {
    background: #444;
}

.nav_cur, .nav_cur:hover {
    background: #079ce3;
}

.subnav {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    background: url(../images/alpha/darkgray1.png);
}

.subnav_li {
    vertical-align: bottom;
}

.subnav_link {
    display: block;
    line-height: 36px;
    border-top: 1px #494949 solid;
    text-align: center;
    font-size: 12px;
    color: #bbb;
}

.subnav_link:hover {
    color: #fff;
}

.nav_li:hover .subnav {
    display: block;
}

/* small */
.small {
    border-bottom: 1px #ddd solid\9;
    *border-bottom: 1px #ddd solid;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.small .head {
    height: 50px;
    background: #fff;
}

.small .logo {
    width: 35px;
    height: 35px;
    margin-top: 8px;
    background: url(../images/login_min.png) 0 0 no-repeat;
}

.small .head_right {
    float: right;
    padding-top: 8px;
    margin-left: 80px;
}

.small .quick_link {
    display: none;
}

.small .nav {
    position: absolute;
    top: 0;
    left: 50%;
    *left: -100px;
    z-index: 1;
    background: none;
    margin-left: -514px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.small .nav .webWidth1 {
    width: 450px;
}

.small .navIn {
    border-left: none;
}

.small .nav_li {
    border-right: none;
}

.small .nav_link {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    font-size: 14px;
    color: #666;
}

.small .nav_link:hover {
    background: #f6f6f6;
}

.small .nav_cur, .small .nav_cur:hover {
    background: #079ed3;
    color: #fff;
}

.small .subnav {
    top: 50px;
    background: #fff;
    border: 1px #ddd solid;
    border-top: none;
}

.small .subnav_link {
    line-height: 30px;
    border-top: none;
    color: #666;
}

.small .subnav_link:hover {
    color: #079ce3;
}

/**
 * foot
 */
.foot {
    /* background: url(../images/alpha/darkgray1.png); */
    position: absolute;
    width: 100%;
    height: 156px;
    background-image: linear-gradient(-228deg, #1172D0 0%, #1D98D6 100%);
}

.footIn {
    padding: 8px 0;
    text-align: center;
}

.footIn p {
    line-height: 20px;
    font-size: 12px;
    color: #888;
}

/**
 * subpage
 */
.main_left {
    float: left;
    width: 976px;
}

.main_right {
    float: right;
    width: 224px;
    margin-right: 10px;
}

/**
 * totop
 */
.totop {
    display: none;
    position: fixed;
    right: 0;
    bottom: 70px;
    z-index: 100;
    width: 36px;
    height: 36px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #079ed3;
    text-align: center;
    line-height: 36px;
}

.totop i {
    display: inline-block;
    width: 18px;
    height: 10px;
    *margin-top: 12px;
}

/**
 * location
 */
.locat {
    padding: 20px 0 10px;
    font-size: 12px;
    color: #666;
}

/* Homepage
   ========================================================================== */
.home_main {
    height: 714px;
    background: url(../images/homebg.jpg) 0 136px repeat-x;
}

/**
 * slide
 */
.slide_open {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 129px;
    height: 127px;
    background: url(../images/up.png) 0 0 no-repeat;
    cursor: pointer;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -ms-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.slide_close {
    left: -129px;
}

.slide {
    position: fixed;
    bottom: -140px;
    left: 0;
    width: 100%;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -ms-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.slide_on {
    bottom: 0;
}

.slide_head {
    height: 40px;
    background: url(../images/alpha/darkgray2.png);
    line-height: 40px;
}

.slide_shut {
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.slide_shut i {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.slide_shut:hover {
    background: #079ce3;
}

.slide_shut:hover i {
    background-position: 0 -320px;
}

.slide_list {
    background: #333;
}

.slide_li {
    position: relative;
    float: left;
    width: 109px;
}

.slide_link {
    display: block;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

.slide_ico {
    display: inline-block;
    width: 50px;
    height: 38px;
    background-image: url(../images/homeico.png);
    background-repeat: no-repeat;
}

.slide_ico1 {
    background-position: 0 0;
}

.slide_ico2 {
    background-position: -50px 0;
}

.slide_ico3 {
    background-position: -100px 0;
}

.slide_ico4 {
    background-position: -150px 0;
}

.slide_ico5 {
    background-position: -200px 0;
}

.slide_ico6 {
    background-position: -250px 0;
}

.slide_ico7 {
    background-position: -300px 0;
}

.slide_ico8 {
    background-position: -350px 0;
}

.slide_ico9 {
    background-position: -400px 0;
}

.slide_ico10 {
    background-position: -450px 0;
}

.slide_ico11 {
    background-position: -500px 0;
}

.slide_tit {
    line-height: 30px;
    font-size: 12px;
    color: #9aa2a8;
}

.slide_li:hover, .slide_cur {
    background: #222;
}

.slide_link:hover .slide_tit, .slide_cur .slide_tit {
    color: #fff;
}

.slide_link:hover .slide_ico1, .slide_cur .slide_ico1 {
    background-position: 0 -50px;
}

.slide_link:hover .slide_ico2, .slide_cur .slide_ico2 {
    background-position: -50px -50px;
}

.slide_link:hover .slide_ico3, .slide_cur .slide_ico3 {
    background-position: -100px -50px;
}

.slide_link:hover .slide_ico4, .slide_cur .slide_ico4 {
    background-position: -150px -50px;
}

.slide_link:hover .slide_ico5, .slide_cur .slide_ico5 {
    background-position: -200px -50px;
}

.slide_link:hover .slide_ico6, .slide_cur .slide_ico6 {
    background-position: -250px -50px;
}

.slide_link:hover .slide_ico7, .slide_cur .slide_ico7 {
    background-position: -300px -50px;
}

.slide_link:hover .slide_ico8, .slide_cur .slide_ico8 {
    background-position: -350px -50px;
}

.slide_link:hover .slide_ico9, .slide_cur .slide_ico9 {
    background-position: -400px -50px;
}

.slide_link:hover .slide_ico10, .slide_cur .slide_ico10 {
    background-position: -450px -50px;
}

.slide_link:hover .slide_ico11, .slide_cur .slide_ico11 {
    background-position: -500px -50px;
}

.slide_sub {
    display: none;
    position: absolute;
    top: -40px;
    z-index: 1;
}

.slide_subIn {
    display: inline-block;
    height: 40px;
    background: #079ce3;
}

.slide_sub_li {
    float: left;
}

.slide_sub_link {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.slide_sub_link:hover {
    background: #037dd6;
}

.slide_arr {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-top-color: #079ce3;
}

.slide_li:hover .slide_arr, .slide_cur .slide_arr, .slide_li:hover .slide_sub {
    display: block;
}

/**
 * panel
 */
.panel {
    position: fixed;
    top: 0;
    right: -290px;
    bottom: 0;
    width: 326px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
}

.panel_open {
    right: 0;
}

.panel_nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;
    padding-top: 40%;
    background: #333d4b;
    z-index: 2;
}

.panel_con {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 290px;
    background: #3d4654;
    z-index: 3;
}

.panel_nav_li {
    position: relative;
    margin: 5px 0;
    height: 36px;
}

.panel_nav_link {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    text-align: center;
    *padding: 9px 0;
    line-height: 36px;
    overflow: hidden;
}

.panel_nav_ico {
    position: relative;
    width: 36px;
    z-index: 1;
    background: #333d4b;
}

.panel_nav_ico i {
    width: 18px;
    height: 18px;
}

.panel_nav_w {
    position: absolute;
    top: 0;
    right: -120px;
    visibility: hidden;
    line-height: 36px;
    background: #079ce3;
    white-space: nowrap;
    padding: 0 15px 0 15px;
    border-right: 1px #39b0e9 solid;
    color: #fff;
}

.panel_nav_link:hover, .panel_nav_link:hover .panel_nav_ico, .panel_nav_cur {
    background: #079ce3;
    overflow: visible;
}

.panel_nav_link:hover .panel_nav_w {
    right: 36px;
    visibility: visible;
}

.panel_con_head {
    position: relative;
    height: 48px;
    margin-bottom: 20px;
    line-height: 48px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.panel_close {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    *padding: 15px 0 0 0;
    *height: 33px;
    text-align: center;
}

.panel_close i {
    width: 14px;
    height: 13px;
}

.panel_close:hover {
    background: #079ce3;
}

.panel_con_more {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    font-size: 12px;
    color: #989898;
}

.panel_con_more:hover {
    color: #fff;
}

.panel_con_list {
    padding: 0 5px;
}

.latest_li {
    float: left;
    width: 50%;
    padding: 8px 0;
}

.latest {
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}

.latest_img {
    position: relative;
    height: 87px;
    overflow: hidden;
}

.latest_op {
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    background-color: rgba(7,156,227,.9);
    background-color: #079ce3\9;
    *background-color: #079ce3;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.latest_op_btn {
    float: left;
    width: 49.5%;
    text-align: center;
}

.latest_op_btn i {
    width: 17px;
    height: 13px;
}

.latest_op_btn:hover {
    background-color: #079ce3;
}

.latest_name {
    line-height: 30px;
    font-size: 12px;
    color: #b3b6ba;
}

.latest:hover .latest_op {
    bottom: 0;
}

.latest:hover .latest_name {
    color: #fff;
}

/* Filter
   ========================================================================== */
/* 筛选结果 */
.crumb {
    padding: 18px 0 10px 0;
    line-height: 24px;
    font-size: 12px;
}

.crumb_main {
    float: left;
    margin-right: 10px;
    color: #666;
}

.crumb_item {
    position: relative;
    float: left;
    display: block;
    margin-right: 10px;
    padding: 0 26px 0 6px;
    border: 1px #e0e0e0 solid;
    background: #fff;
    color: #666;
}

.crumb_del {
    position: absolute;
    display: inline-block;
    top: 7px;
    right: 7px;
    width: 9px;
    height: 9px;
}

.crumb_item:hover {
    border-color: #079ce3;
}

.crumb_item:hover .crumb_del {
    background-position: 0 -240px;
}

/* 筛选条件 */
.filter {
    padding: 0 20px;
}

.filter_li {
    position: relative;
    padding: 2px 0;
    border-bottom: 1px #eee solid;
}

.filter_tit {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 36px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
}

.filter_con {
    margin-left: 70px;
}

.filter_link {
    margin-right: 30px;
    line-height: 36px;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    display: inline-block;
}

.filter_link:hover {
    color: #079ce3;
}

/* 筛选排序 */
.filter_sort, .search_sm, .search_sm input {
    float: left;
}

.filter_sort_li {
    float: left;
    border-right: 1px #e0e0e0 solid;
}

.filter_sort_link {
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    font-size: 12px;
    color: #666;
}

.filter_sort_link:hover, .filter_sort_cur {
    background: #f9f9f9;
    color: #079ce3;
}

/* 筛选搜索 */
.search_sm {
    padding: 8px 0 0 20px;
}

.search_sm_input {
    width: 298px;
    height: 22px;
    line-height: 22px\9;
    *line-height: 22px;
    border: 1px #e0e0e0 solid;
    background: #f5f5f5;
    text-indent: 10px;
    color: #666;
}

.search_sm_input:focus {
    border-color: #079ec3;
    background: #fff;
}

.search_sm_submit {
    width: 50px;
    height: 24px;
    margin-left: 5px;
    text-align: center;
    background: #079ce3;
    font-size: 12px;
    color: #fff;
}

/* apply_sm
   ========================================================================== */
.apply_sm {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 2px #e0e0e0 solid;
}

.apply_sm_tit {
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
}

.apply_sm_btn {
    display: block;
    border-radius: 4px;
    border-bottom: 1px #068dcd solid;
    line-height: 44px;
    background: #079ce3;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.apply_sm_ico {
    float: left;
    width: 50px;
    *height: 44px;
    border-right: 1px #43b4e9 solid;
    text-align: center;
}

.apply_sm_ico i {
    width: 20px;
    height: 20px;
    *margin-top: 12px;
}

.apply_sm_txt {
    float: left;
    padding-left: 30px;
}

.apply_sm_btn:hover {
    background: #1eb0f5;
}

.apply_sm_btn:hover .apply_sm_ico {
    border-color: #4bc0f7;
}

/* Resource
   ========================================================================== */
/**
 * resource wrap
 */
.col_wrap {
    float: left;
    width: 244px;
}

.col_wrapIn {
    width: 224px;
    margin: 0 auto 20px auto;
}

.res_box {
    position: relative;
    display: block;
}

.res_img, .res_img img {
    width: 222px;
    height: 164px;
}

.res_img {
    position: relative;
    overflow: hidden;
}

.res_intro {
    min-height: 59px;
    padding: 5px 20px 15px 20px;
}

.res_tit {
    line-height: 36px;
    font-size: 16px;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res_titIco {
    position: absolute;
    display: block;
    top: 16px;
    left: 0;
    width: 3px;
    height: 14px;
    background: #079ce3;
}

.res_txt {
    max-height: 36px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    color: #afafaf;
}

.res_labs {
    padding-top: 5px;
}

.res_lab {
    display: inline-block;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 8px;
    line-height: 18px;
    background: #becad0;
    font-size: 12px;
    color: #fff;
}

.res_info {
    color: #afafaf;
    font-size: 12px;
}

.res_info2 {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    background: #fafafa;
    border-top: 1px #eee solid;
    color: #afafaf;
    font-size: 12px;
}

.res_ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.res_slide {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(7,156,227,.85);
    background: #079ed3\9;
    *background: #079ed3;
    filter: alpha(opacity=90);
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.res_slide_li {
    color: #fff;
    cursor: pointer;
}

.res_slide_li:hover {
    background: #079ce3;
}

.res_slide_ico {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.res_slide_split, .latest_split {
    border-right: 1px #56b8ed solid;
}

.res_slide_inst {
    position: absolute;
    bottom: -164px;
    right: 0;
    width: 100%;
    height: 164px;
    overflow: hidden;
    background: rgba(7,156,227,.85);
    background: #079ed3\9;
    *background: #079ed3;
    filter: alpha(opacity=90);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.res_slide_inst p {
    padding: 15px;
    font-size: 12px;
    color: #fff;
}

.res_box:hover .res_slide, .res_box:hover .res_slide_inst {
    bottom: 0;
}

/**
 * resource detail
 */
.res_detail {
    position: relative;
    margin-bottom: 20px;
    height: 224px;
}

.res_detail_img, .res_detail_img img {
    width: 282px;
    height: 224px;
}

.res_detail_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.res_detail_body {
    padding: 20px 30px 30px 312px;
}

.res_detail_tit {
    line-height: 45px;
    font-size: 24px;
    color: #222;
}

.res_detail .res_info {
    line-height: 40px;
}

.res_detail_instro {
    max-height: 40px;
    overflow: hidden;
    margin: 5px 0 10px 0;
    line-height: 20px;
    font-size: 14px;
    color: #999;
}

.res_detail_btn {
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.res_detail_btn i {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.res_detail2 {
    height: 198px;
}

.res_detail2 .res_detail_body {
    padding-left: 327px;
}

/**
 * resource content
 */
.res_content {
    min-height: 665px;
    margin: 0 10px;
}

.res_con {
    padding: 0 30px 30px 30px;
    border-bottom: 1px #eee solid;
}

.res_con .col_wrapIn {
    margin-bottom: 0;
}

/* table */
.tabl th {
    height: 54px;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background: #f9f9f9;
    font-size: 15px;
    color: #444;
    text-align: center;
}

.tabl th p {
    border-right: 1px #ddd solid;
}

.tabl td {
    height: 45px;
    border-bottom: 1px #e0e0e0 solid;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.tabl_even td {
    background: #fdfdfd;
}

/* aip table */
.table_cus th {
    height: 40px;
    border: 1px #e9e9e9 solid;
    background: #f7f7f7;
    font-size: 12px;
    color: rgba(74, 74, 74, 0.8);
    padding: 0 12px;
}

.table_cus th p {
    border-right: 1px #ddd solid;
}

.table_cus td {
    height: 40px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    color: rgba(74, 74, 74, 0.8);
    padding: 11px 12px;
    border: 1px #e9e9e9 solid;
}

.tabl_even td {
    background: #fdfdfd;
}


/* list */
.conlist_li {
    height: 36px;
    padding: 0 10px;
    border-bottom: 1px #ddd dashed;
    line-height: 36px;
    font-size: 14px;
    color: #666;
}

.conlist_dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #d7d7d7;
    margin-right: 10px;
    vertical-align: middle;
}

.conlist_li span {
    font-weight: bold;
}

/**
 * float menu
 */
.floatMenu {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -110px;
    z-index: 999;
    min-width: 36px;
}

.floatMenu_li {
    margin-bottom: 1px;
}

.floatMenu_link {
    position: relative;
    display: block;
    height: 36px;
    line-height: 36px;
}

.floatMenu_link span {
    cursor: pointer;
}

.floatMenu_name {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
    display: block;
    padding: 0 10px;
    border-right: 1px #39b0e9 solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #079ce3;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
}

.floatMenu_floor {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 36px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #333;
    text-align: center;
    font-size: 14px;
    color: #afafaf;
}

.floatMenu_link:hover {
    background: #079ce3;
}

.floatMenu_link:hover .floatMenu_name {
    right: 36px;
}

.floatMenu_link:hover .floatMenu_floor {
    background: #079ce3;
    color: #fff;
}

/**
 * resource search
 */
.search_md {
    margin-bottom: 20px;
}

.search_md_txt {
    margin-right: 5px;
    font-size: 14px;
    color: #666;
}

.search_md_col1, .search_md_col2 {
    float: left;
}

.search_md_col1 input {
    width: 118px;
}

.search_md_col2 input {
    width: 233px;
}

.search_md_col2 .search_md_txt {
    margin-left: 15px;
}

.search_md_submit {
    float: right;
    display: inline-block;
    width: 90px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

/**
 * resource selected
 */
.res_selected {
    margin: 0 60px 20px 60px;
}

/* 大类标题 */
.res_selected_tit {
    position: relative;
    line-height: 36px;
    font-size: 14px;
    color: #999;
}

.res_selected_tit i {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

/* 内容框架 */
.res_selected_con {
    padding: 10px 0 20px;
    border-bottom: 1px #ddd solid;
    background: url(../images/line.jpg) 17px 0 repeat-y;
}

.res_mod {
    position: relative;
    padding-left: 40px;
    margin: 10px 0;
}

.res_mod_dot {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 12px;
    height: 12px;
    z-index: 1;
}

.res_mod_head {
    position: relative;
    padding: 0 370px 0 30px;
    background: #f3f5f7;
    *height: 40px;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.res_mod_head:hover {
    background: #e7edf3;
}

.res_mod_lab {
    display: none;
    position: absolute;
    top: 13px;
    left: 10px;
    width: 8px;
    height: 14px;
}

.res_mod_tit {
    width: 360px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.res_mod_radio {
    display: none;
    position: absolute;
    top: 0;
    left: 380px;
    font-size: 12px;
    color: #888;
}

/* 删除按钮 */
.res_mod_del {
    display: none;
    position: absolute;
    top: 0;
    right: 90px;
    font-size: 12px;
    color: #888;
}

.res_mod_del i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.res_mod_head:hover .res_mod_del, .res_mod_head:hover .res_mod_radio {
    display: block;
}

.res_mod_del:hover {
    color: #079ce3;
}

.res_mod_del:hover i {
    background-position: -80px -280px;
}

.res_selected_tit .res_mod_del {
    display: block;
    top: 0px;
}

.res_mod_arr {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 16px;
    height: 16px;
}

.res_mod_body {
    display: none;
    padding: 15px;
    border: 1px #ccc solid;
    border-top: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* 属性资源字段 */
.res_field {
    position: relative;
    float: left;
    margin: 5px
}

.res_field_btn {
    display: block;
    padding: 0 10px;
    border: 1px #ddd solid;
    line-height: 32px;
    white-space: nowrap;
    font-size: 12px;
    color: #666;
}

.res_field_btn:hover {
    border-color: #ccc;
    background: #f9f9f9;
}

.res_field i {
    position: absolute;
    display: none;
    width: 17px;
    height: 17px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/form.png) -80px -37px no-repeat;
}

.res_field_sel .res_field_btn, .res_field_sel .res_field_btn:hover {
    border-color: #83cdf1;
    background: #f5fbfe;
    color: #079ce3;
}

.res_field_sel i {
    display: block;
}

/* 字段筛选-单选 */
.res_mod_radio .exam_check, .res_mod_radio .exam_radio {
    position: relative;
    *height: 20px;
    padding: 5px 0 5px 25px;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    color: #666;
}

.res_mod_radio .exam_check input,/* 将原始选项按钮隐藏 */
.res_mod_radio .exam_radio input {
    position: absolute;
    left: -99999px;
}

.res_mod_radio .exam_radiobtn,/* 默认未选中，时选项按钮样式 */
.res_mod_radio .exam_checkbtn {
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../images/form.png) no-repeat;
}

.res_mod_radio .exam_radiobtn {
    background-position: 0 0;
}

.res_mod_radio .exam_checkbtn {
    background-position: -20px 0;
}

.res_mod_radio .exam_radio:hover .exam_radiobtn {
    background-position: 0 -20px;
}

/* 鼠标滑过时，选项按钮样式 */
.res_mod_radio .exam_check:hover .exam_checkbtn {
    background-position: -20px -20px;
}

.res_mod_radio label.r_on .exam_radiobtn,/* 选中时，选项按钮样式 */
.res_mod_radio label.r_on:hover .exam_radiobtn {
    background-position: 0 -40px;
}

.res_mod_radio label.c_on .exam_checkbtn, .res_mod_radio label.c_on:hover .exam_checkbtn {
    background-position: -20px -40px;
}

/* 展开 */
.res_collapse .res_mod_dot {
    background-position: -120px -240px;
}

.res_collapse .res_mod_head, .res_collapse .res_mod_body {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,.08);
    box-shadow: 0 1px 5px rgba(0,0,0,.05);
}

.res_collapse .res_mod_head {
    background: #079ce3;
}

.res_collapse .res_mod_lab, .res_collapse .res_mod_del, .res_collapse .res_mod_body, .res_collapse .res_mod_radio {
    display: block;
}

.res_collapse .res_mod_tit, .res_collapse .res_mod_del, .res_collapse .res_mod_info, .res_collapse .res_mod_info span, .res_collapse .exam_radio, .res_collapse .exam_check {
    color: #fff;
}

.res_collapse .res_mod_del i {
    background-position: -80px -240px;
}

.res_collapse .res_mod_arr {
    background-position: -40px -240px;
}

.res_collapse .exam_radiobtn {
    background-position: -40px 0;
}

.res_collapse .exam_radio:hover .exam_radiobtn {
    background-position: -40px -20px;
}

/* 鼠标滑过时，选项按钮样式 */
.res_collapse label.r_on .exam_radiobtn,/* 选中时，选项按钮样式 */
.res_collapse label.r_on:hover .exam_radiobtn {
    background-position: -40px -40px;
}

.res_collapse .exam_checkbtn {
    background-position: -60px 0;
}

.res_collapse .exam_check:hover .exam_checkbtn {
    background-position: -60px -20px;
}

/* 鼠标滑过时，选项按钮样式 */
.res_collapse label.c_on .exam_checkbtn,/* 选中时，选项按钮样式 */
.res_collapse label.c_on:hover .exam_checkbtn {
    background-position: -60px -40px;
}

/* 数据获取方式单选按钮布局 */
.exam_info_row {
    position: relative;
    min-height: 36px;
    padding: 5px 0;
}

.exam_info_tit {
    position: absolute;
    top: 3px;
    left: 0;
    width: 200px;
    min-height: 20px;
    padding: 10px 0;
    line-height: 20px;
    text-align: right;
    font-size: 14px;
}

.exam_info_con {
    padding-left: 220px;
    line-height: 36px;
    font-size: 12px;
}

/* 空间数据表单 */
.res_mod_body .exam_info_row {
    min-height: 30px;
    margin: 0 5px;
}

.res_mod_body .exam_info_tit {
    top: 5px;
    width: 62px;
    padding: 6px 0;
    font-size: 12px;
}

.res_mod_body .exam_info_con {
    padding-left: 62px;
    line-height: 30px;
    font-size: 12px;
}

.res_mod_body .exam_input {
    height: 28px;
    line-height: 28px\9;
    *line-height: 28px;
    font-size: 12px;
}

/* 涉密数据表单 */
.exam_radio input.exam_input {
    position: static;
    left: auto;
}

.label_single .exam_radio {
    display: inline-block;
    height: 38px;
    margin: -5px 0 5px 0;
}

.label_single .exam_radiobtn {
    top: 15px;
}

/* 进度 */
.flow_box {
    padding: 24px 0 30px 0;
    border-bottom: 1px #eee solid;
    background: #fefefe;
}

.flow {
    width: 948px;
    margin: 0 auto;
}

.flow_top {
    padding-bottom: 4px;
}

.flow_li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #888;
}

.flow_bot {
    width: 731px;
    height: 20px;
    margin: 0 auto;
    background: url(../images/flow.png) no-repeat;
}

.flow1 {
    background-position: 0 0;
}

.flow2 {
    background-position: 0 -20px;
}

.flow3 {
    background-position: 0 -40px;
}

.flow4 {
    background-position: 0 -60px;
}

.flow5 {
    background-position: 0 -80px;
}

.flow6 {
    background-position: 0 -100px;
}

/**
 * resource aplly steps
 */
.steps {
    float: left;
    width: 1044px;
}

.steps_tit {
    width: 148px;
    height: 88px;
    border-right: 2px #e0e0e0 solid;
    background: #f9f9f9;
    text-align: center;
}

.steps_tit span {
    display: inline-block;
    margin-top: 22px;
    width: 70px;
    height: 40px;
    background: url(../images/steps.png) -200px 0 no-repeat;
}

.steps_con {
    position: absolute;
    top: 0;
    left: 144px;
    right: 0;
    padding: 19px 0;
}

.steps_li_narrow {
    float: left;
    width: 70px;
}

.steps_li_narrow span {
    display: block;
    height: 15px;
    margin-top: 17px;
    background: url(../images/steps.png) 0 -60px no-repeat;
}

.steps_li_wide {
    float: left;
    width: 152px;
    height: 50px;
}

.steps_ico {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    display: inline-block;
    background: url(../images/steps.png) no-repeat;
}

.steps_ico1 {
    background-position: 0 0;
}

.steps_ico2 {
    background-position: -50px 0;
}

.steps_ico3 {
    background-position: -100px 0;
}

.steps_ico4 {
    background-position: -150px 0;
}

.steps_txt {
    float: left;
    line-height: 50px;
    font-size: 14px;
    color: #999;
}

.steps_txt span {
    margin-right: 5px;
    font-size: 22px;
    color: #222;
    vertical-align: middle;
}

.guide_btn {
    float: right;
    width: 136px;
    height: 90px;
    display: block;
    background: url(../images/guide_btn.gif) no-repeat;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.08);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.08);
    box-shadow: 0 0 10px rgba(0,0,0,.08);
}

/* 发布数据需求 */
.publish {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 999;
    width: 36px;
    padding: 10px 0;
    text-align: center;
    background: #079ce3;
    font-size: 12px;
    color: #fff;
}

.publish i {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto 8px auto;
}

/* Cart
   ========================================================================== */
.cart_col1, .cart_col3 {
    position: absolute;
    top: 0;
    z-index: 1;
}

.cart_col1 {
    left: 0;
    width: 170px;
}

.cart_col3 {
    right: 0;
    width: 75px;
}

.cart_col2 {
    margin: 0 95px 0 170px;
}

/* 表头 */
.cart_head {
    margin-top: 10px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
}

.cart_head .exam_check {
    left: 21px;
}

.cart_shop {
    margin-bottom: 15px;
}

/* 店铺名称 */
.cart_shopName {
    padding-left: 21px;
    line-height: 34px;
    font-size: 12px;
    color: #666;
}

.cart_shopIco {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

/* 店铺列表*/
.cart_shopList {
    border: 1px #d7d7d7 solid;
    background: #fdfdfd;
}

.cart_shopList .exam_check {
    display: block;
    border-bottom: 1px #eaeaea solid;
    padding: 0;
}

.cart_shopList .exam_checkbtn {
    top: 20px;
    left: 20px;
}

.cart_shopList .cart_col1, .cart_shopList .cart_col2, .cart_shopList .cart_col3 {
    height: 114px;
}

.cart_shopList .c_on {
    background-color: #f0f8fc;
}

.cart_img {
    padding: 20px 0 20px 50px;
}

.cart_detail {
    padding: 20px 0;
}

.cart_name {
    line-height: 37px;
    font-size: 16px;
    color: #444;
}

.cart_del {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 12px;
    color: #666;
}

.cart_delIco {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.cart_del:hover {
    color: #079ce3;
}

.cart_del:hover .cart_delIco {
    background-position: -80px -280px;
}

/* 申请 */
.apply {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    padding-left: 21px;
    background: #ebeef2;
}

.apply .exam_check, .apply .link1 {
    float: left;
}

.apply_num, .apply_submit {
    float: right;
}

.apply .exam_check {
    margin-top: 10px;
    margin-right: 30px;
}

.apply_num span {
    margin: 0 10px;
    font-size: 24px;
    color: #f12929;
    vertical-align: middle;
}

.apply_submit {
    display: inline-block;
    margin-left: 70px;
    padding: 0 40px;
    background: #079ce3;
    font-size: 16px;
    color: #fff;
}

.apply_submit:hover {
    background: #1eb0f5;
}
.line{
    margin: 16px 0;
    line-height: 28px;
    display: table;
    width: 100%;
}
.cur_title{
    font-size: 20px;
    color: #F76D1F;
    letter-spacing: 0;
    margin-right: 32px;
}
.cur_search{
	font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0.96px;
}
.cur_search span{
    margin-left: 5px;
    padding: 2px 0px 2px 8px;
    background: #E8E8E8;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
}
.cur_search span i.icon_close{
    /* margin-left: 10px; */
    color: rgba(0,0,0,.43);
    cursor: pointer;
    padding: 4px 8px 4px 10px;
}
.filter_line {
    height: 33px;
    line-height: 33px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    font-size: 12px;
    color: #9b9b9b;
    margin-right: 32px;
}
.filter_line li {
    margin: 0 15px;
    cursor: pointer;
}
.filter_line li.cur a,
.filter_line li:hover a{
   	color: #F76D1F;
}
.filter_line li a{
    color: #9b9b9b;
    font-size: 12px;
}
.paging{
	font-size: 12px;
	width: 345px;
}
.page_list i{
	line-height: 17px;
    width: 17px;
    text-align: center;
    float:left;
    margin: 6px 0 0;
    cursor: pointer;
}
.page_list li{
	width: 17px;
	line-height: 17px;
    text-align: center;
    margin: 6px 0 0;
    cursor: pointer;
}
.page_list li:hover,
.page_size li:hover,
.page_size li.cur{
	color: #F76D1F;
}
.page_list li.cur{
	background: #F76D1F;
    border-radius: 4px;
    color:#fff;
}
.page_size{
	border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 82px;
    height: 22px;
    line-height: 22px;
    color: #4A4A4A;
    line-height: 18px;
    padding: 0 8px;
    margin: 3px 18px 0;
    float: left;
    position: relative;
}
.page_size:hover{
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.page_size ul{
	display: none;
    border: 1px solid #D9D9D9;
    position: absolute;
    width: 100%;
    left: -1px;
    padding: 0 8px;
    z-index: 23;
    background: #fff;
    line-height: 24px;
    margin-top: 2px;
    border-top-style: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 82px;
}
.page_size:hover ul{
	display:block;
}
.page_size li{
	cursor: pointer;
}
.page_goto .goto{
	width: 48px;
    text-align: left;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 0 13px;
    height: 22px;
    margin: 0 8px;
    color: #666;
}
.transition_1:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
    background: rgba(58, 52, 42, .5);;
    transition: transform 1s,opacity 1s;
    z-index: 100;
}
.transition_1:hover:before{
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
	opacity: .5;
}